.templates {
  display: flex;
  flex-direction: row;
  padding: 2rem 4rem;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
  background: linear-gradient(90deg, rgb(1, 1, 26) 0%, rgb(8, 7, 57) 100%);
}
.templates__pics {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  border-radius: 16px;
  animation: opa 2s;
}
.templates__pics img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
